<!-- -*- mode: XML -*- -->

<launch>

  # Publish raw Velodyne lidar data packets
  <node name="cloud_vlp16_node" pkg="velodyne16" type="cloud_vlp16_node"
    required="true" output="screen">
    <rosparam param="calibration" subst_value="true">$(find velodyne16)/config/velodyne16_calibration.yaml</rosparam>
  </node>

</launch>