<!-- -*- mode: XML -*- -->

<launch>

    # Publish Velodyne lidar scans
    <node name="cloud_node" pkg="velodyne16" type="cloud_node"
          required="true" output="screen">
        <rosparam param="calibration" subst_value="true">$(find velodyne16)/config/calibration.yaml</rosparam>
        <rosparam file="$(find velodyne16)/config/cloud_node.yaml" command="load"/>
    </node>

</launch>